@model BookStore.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h4>Sign In</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                Password has been updated successfully
            </div>
        }
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
            <div>
                <div>Click <a asp-controller="Account" asp-action="Signup">here</a> to signup</div>
                <div>Click <a asp-controller="Account" asp-action="Login">here</a> to login</div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/files/login.png" class="img-fluid" asp-append-version="true" />
    </div>
