@model EmailConfirmModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h4>Confirm Email</h4>

<hr />

<div class="container">
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @if (Model.EmailVerified)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully.</p>
                </div>
            } 
            else
            {
                if (Model.EmailSent)
                {
                    <div>Email sent on your registered email id.</div>
                }
                else
                {
                    <div>We have sent an email on your email id. Click on the link to login.</div>
                }

                <form asp-action="ConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />

                    <div>Did not get any email of deleted by mistake?</div>
                    <div class="form-group">
                        <input type="submit" value="Resend confirmation email" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

